@page "/form"
@using Microsoft.Extensions.Logging
@inject ILogger<Form> Logger
@inject NavigationManager nm
@inject StateContianer sc

<h1>Form</h1>

<EditForm Model = "@people" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Name: <InputText id="name" @bind-Value="people.Name" />
        </label>
        <label>
            Age: <InputNumber id="age" @bind-Value = "people.Age" />
        </label>
    </p>

    <p>
        <label>
            Email Address: <InputText id="emailAddress" @bind-Value = "people.Email" />
        </label>
    </p>

    <p>Age: </p>
    <InputNumber id = "age" @bind-Value = "people.Age"></InputNumber>

    <button type = "submit">Submit</button>
</EditForm>

<!-- <button type="button" @onclick = "GoToResult">Result</button> -->

@code {
    private People people = new();

    // TO DO 
    private void HandleSubmit()
    {
        Logger.LogInformation("HandleSubmit called");
        sc.SetValue(people); 
        nm.NavigateTo("result"); 
    }

    /*private void GoToResult()
    {
        Navigation.NavigateTo("result"); 
    }*/ 
}
